{
  "extends": [
    "eslint:recommended",
    "@vue/typescript",
    "plugin:vue/vue3-strongly-recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "prettier"
  ],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "ignorePatterns": "**/*.js",
  "rules": {
    "vue/attribute-hyphenation": 0,
    "import/no-restricted-paths": [
      "warn", //TODO: errorにする
      {
        "zones": [
          {
            "target": "./src/(usecases|entities|adapter)",
            "from": "node_modules/vue",
            "message": "フレームワーク非依存な層です。hooks層での実装を検討してください。"
          },
          {
            "target": "./src/!(entities)/**/*",
            "from": "./src/api/@types",
            "message": "APIの型定義はEntityに関数を作成して利用してください。"
          }
        ]
      }
    ]
  }
}
