{
  "extends": [
    "eslint:recommended",
    "@vue/typescript",
    "plugin:vue/vue3-strongly-recommended",
    "prettier",
    "prettier/vue",
    "prettier/@typescript-eslint"
  ],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "ignorePatterns": "**/*.js",
  "rules": {
    "vue/attribute-hyphenation": 0
  }
}
