@import '~/assets/css/variable.scss';

.register-btn {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 6vh;
  color: $white;
  font-size: 2.3vh;
  line-height: 6vh;
  background: $primary-color;
  border-radius: 0.4rem;
  text-align: center;
  user-select: none;
  box-shadow: $middle-shadow;
  flex-shrink: 0;
  &:active {
    transition: all 0.2s;
    transform: scale(1.05);
    background-color: $primary-light-color;
  }
}
.btn-animation {
  border: none;
  background: none;
  transition: transform 0.3s liner;
  user-select: none;
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(1.2);
  }
}
