// ダイアログのスタイル
.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 92vw;
  max-width: 70vh;
  height: 80vh;
  background: #ffffff;
  box-shadow: 1vmin 1vmin 3vmin rgba(0, 0, 0, 0.349);
  border-radius: 1vh;
  z-index: 6;
  padding: 4.4vh;
  box-sizing: border-box;
}
.back {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  background: rgba(100, 100, 100, 0.5);
  z-index: 5;
}
.close-btn {
  position: absolute;
  top: 2.2vh;
  right: 2.1vh;
  font-size: 3.1rem;
  color: #717171;
}
