$material-icons-font-path: '~material-icons/iconfont/';
$material-icons-font-path: '' !default;
$material-icons-font-name: 'MaterialIcons-Regular' !default;
$material-icons-font-family: 'Material Icons' !default;
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700&display=swap&subset=japanese');
@import '~material-icons/iconfont/material-icons.scss';
@import 'normalize.css/normalize.css';

:root {
  --outer-height: 100vh;
}

html {
  overflow-y: hidden;
  height: 100%;
  font-size: 62.5%;
}
@media screen and (min-height: 1000px) {
  html {
    font-size: 85%;
  }
}

body {
  height: 100%;
  overflow-x: hidden;
  font-family: 'Noto Sans JP';
}

.svg-button {
  border: none;
  background: none;
  transition: transform 0.3s liner;
  user-select: none;
  &:focus {
    outline: 2px dashed #17171d;
  }
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(1.2);
  }
}

/** animation */

.bound-enter-active,
.bound-leave-active {
  transition: all 0.1s ease-in;
}

.bound-enter,
.bound-leave-to {
  transform: scale(0.9);
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.1s ease-in;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
