// テーマカラー
$primary-color: #00c0c0;

// テキスト用のカラー
$main-text-color: #777;
$emphasis-text-color: #6e6e6e;
$sub-text-color: #a5a5a5;

// element（要素）用のカラー
$unselected-element-color: #c9c9c9;
$denger-element-color: #f05033;
$close-btn-color: #717171;
$form-border-color: #c7c7c7;

// box-shadow
$large-shadow: 0.7rem 0.7rem 1.4rem rgba(0, 0, 0, 0.164);
$middle-shadow: 0.6rem 0.6rem 1.3rem rgba(0, 0, 0, 0.123);
$small-shadow: 0.2rem 0.2rem 1.2rem rgba(0, 0, 0, 0.123);
$toolber-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.123);

// element
$element-denger: #f05033;
$element-gray: #c7c7c7;
