// テーマカラー
$primary-color: #00c0c0;

// テキスト用のカラー
$main-text-color: #777;
$emphasis-text-color: #6e6e6e;
$sub-text-color: #a5a5a5;

// element（要素）用のカラー
$unselected-element-color: #c9c9c9;
$denger-element-color: #f05033;
$close-btn-color: #717171;

// 検索窓やメモ等のform関連カラー
$form-border-color: #c7c7c7;
