// テーマカラー
$primary-color: #00c0c0;
$primary-color-d: #2fb0b3; //ダークモード用
$primary-light-color: #9ef0ea;
$primary-pale-color: #effbfa;
$sponsor-color: #1a1d32;
$light-blue: #ace7f9;
$yellow-orange: #f2b456;
$yellow-orange-d: #e4bb69; //ダークモード用
$yellow-orange-light: #fdd17b; //このあたりのイエローオレンジがsecandary-colorになるかも
$white: #fff;

// テキスト用のカラー
$main-text-color: #777;
$emphasis-text-color: #6e6e6e;
$sub-text-color: #a5a5a5;
$link-text-color: #485fd3;

// element（要素）用のカラー
$element-denger: #f05033;
$element-gray: #c7c7c7;
$element-light-gray: #f3f3f3;
$element-pale-gray: #f8f8f8;

// box-shadow
$large-shadow: 0.6rem 0.6rem 1.4rem rgba(0, 0, 0, 0.1);
$middle-shadow: 0.4rem 0.4rem 1.3rem rgba(0, 0, 0, 0.1);
$small-shadow: 0.2rem 0.2rem 1.2rem rgba(0, 0, 0, 0.07);
$toolber-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.123);
