// text
@mixin text-main {
  color: $text-main;
  font-size: $font-medium;
  line-height: $single-line;
  font-weight: medium;
}
@mixin ext-description {
  color: $text-main;
  font-size: $font-medium;
  font-weight: normal;
}
@mixin text-button {
  color: $button-gray;
  font-weight: medium;
  line-height: $fit;
}
@mixin text-discription {
  color: $text-main;
  font-size: $font-medium;
  line-height: $multi-line;
  font-weight: regular;
}
@mixin text-sub-discription {
  color: $text-sub;
  font-size: $font-small;
  line-height: $multi-line;
  font-weight: regular;
}
@mixin modal-title {
  font-size: 2rem;
  font-weight: 500;
  line-height: $multi-line;
  color: $text-main;
}
@mixin text-course-tile-id {
  color: $text-sub;
  font-size: 0.9rem;
  font-weight: normal;
  line-height: $single-line;
}
@mixin text-liner {
  color: #6bcedc; // baakground-clip に対応していない場合の色
  background: $primary-liner;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin void-text-liner {
  background-clip: none;
  -webkit-text-fill-color: inherit;
}
@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// button
@mixin button-cursor {
  user-select: none;
  cursor: pointer;
}
@mixin button-active($negative-shadow-convex: 0 0 0 #00000000) {
  background: $primary-liner;
  box-shadow: $negative-shadow-convex, $negative-shadow-convex,
    $shadow-primary-concave;
}
@mixin button-active-danger($negative-shadow-convex: 0 0 0 #00000000) {
  background: $danger;
  box-shadow: $negative-shadow-convex, $negative-shadow-convex,
    $shadow-danger-concave;
}
@mixin button-inactive($negative-shadow-concave: inset 0 0 0 #00000000) {
  box-shadow: $shadow-convex, $negative-shadow-concave;
}
@mixin button-hover {
  box-shadow: $shadow-convex-hover;
}

// icon
@mixin icon-cursor {
  user-select: none;
  cursor: default;
}

// スクロール用マスク
// (↓スクロールさせたい要素をwrapする親要素に設定する。)
@mixin scroll-mask {
  -webkit-mask-image: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0) 0%,
    rgba(196, 196, 196, 10) 1.2rem,
    rgba(196, 196, 196, 10) 92.71%,
    rgba(196, 196, 196, 0) 100%
  );
  mask-image: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0) 0%,
    rgba(196, 196, 196, 10) 1.2rem,
    rgba(196, 196, 196, 10) 92.71%,
    rgba(196, 196, 196, 0) 100%
  );
}

// layout

//  Sidebar直下のページで使う。横向きレイアウトの時にヘッダーの左のボタンを表示しない。
@mixin header-left-button-delete {
  .header__left-button-icon {
    @include landscape {
      display: none;
    }
  }
}

// Home以外のページで使う。
@mixin max-width {
  max-width: $max-pc-item-width;
}

@mixin flexible() {
  display: inline-block;
}
@mixin fixed {
  display: block;
}
@mixin center-fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
@mixin center-asolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
@mixin center-flex($direction: "row") {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}
@mixin iconlayout {
  display: inline-flex;
  vertical-align: middle;
}

// Media Queries
@mixin tab-and-pc {
  @media only screen and (min-height: $pc-and-tab-height) {
    // 画面の高さが一定以上ある場合(このブレイクポイントでrootのremの大きさを切り替える)
    @content;
  }
}

@mixin landscape {
  @media screen and (orientation: landscape) {
    // 画面が横向きの場合
    @content;
  }
}

@mixin portrait {
  @media screen and (orientation: portrait) {
    // 画面が縦向きの場合
    @content;
  }
}

@mixin large-screen {
  @media only screen and (min-height: $pc-and-tab-height),
    (orientation: landscape) {
    // 画面の高さが一定以上or画面が横向きの場合
    @content;
  }
}
