// text
@mixin text-main {
  color: $text-main;
  font-size: $font-medium;
  line-height: $single-line;
  font-weight: medium;
}
@mixin text-label {
  color: $text-main;
  font-size: $font-medium;
  line-height: $single-line;
  font-weight: medium;
}
@mixin text-button {
  color: $button-gray;
  font-weight: medium;
  line-height: $fit;
}
@mixin text-sub-discription {
  color: $text-sub;
  font-size: $font-small;
  line-height: $multi-line;
  font-weight: regular;
}
@mixin text-liner {
  background: $primary-liner;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin text-course-tile-id {
  color: $text-sub;
  font-size: 0.9rem;
  font-weight: normal;
  line-height: $single-line;
}
@mixin void-text-liner {
  background-clip: none;
  -webkit-text-fill-color: inherit;
}

// button
@mixin button-cursor {
  user-select: none;
  cursor: pointer;
}
@mixin button-active($negative-shadow-convex: 0 0 0 #00000000) {
  background: $primary-liner;
  box-shadow: $negative-shadow-convex, $negative-shadow-convex,
    $shadow-primary-concave;
}
@mixin button-active-danger($negative-shadow-convex: 0 0 0 #00000000) {
  background: $danger;
  box-shadow: $negative-shadow-convex, $negative-shadow-convex,
    $shadow-danger-concave;
}
@mixin button-inactive($negative-shadow-concave: inset 0 0 0 #00000000) {
  box-shadow: $shadow-convex, $negative-shadow-concave;
}
@mixin button-hover {
  box-shadow: $shadow-convex-hover;
}

// layout
@mixin flexible() {
  display: inline-block;
}
@mixin fixed {
  display: block;
}
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
@mixin iconlayout {
  display: inline-flex;
  vertical-align: middle;
}

// Media Queries
@mixin tab-and-pc {
  @media only screen and (min-height: $pc-and-tab-height) {
    @content;
  }
}

@mixin landscape {
  @media screen and (orientation: landscape) {
    // 画面が横向きの場合(tab-and-pcサイズにしか適用しない)
    @content;
  }
}
