/* Color styles */
$base: #eff1f6;
$base-liner: linear-gradient(158.17deg, #f3f5fa -1.94%, #ebedf2 102.24%);
$primary: #00c0c0;
$primary-liner: linear-gradient(91.58deg, #6bcedc -8.01%, #71e2dc 105.39%);
$primary-light: #c8efef99;
$primary-dull: #66a0b9;
$text-main: #626a76;
$text-sub: #838e95;
$button-gray: #889396;
$danger: #ed7f93;
$disabled: #adadad;
$unselected: #b8c1c7;
$undefined: #e4ebef66;
$filter-gray: #eff1f680;
$filter-darken: #546e9533;
$text-link: #5a93e8;
$white: #ffffff;

/* Effect styles */
$shadow-base: 0.2rem 0.4rem 1rem #a5bac74d, -0.1rem -0.1rem 0.2rem #ffffffb3,
  inset -0.6rem -0.8rem 1.2rem #ffffff73, inset 0.2rem 0.3rem 0.4rem #cbd5df66;
$shadow-convex: 0.2rem 0.3rem 0.8rem #a5bac773, -0.5rem -0.5rem 1rem #ffffff99;
$shadow-convex-large: 0.3rem 0.5rem 1.2rem #a5bac773,
  -0.5rem -0.5rem 1rem #ffffffcc;
$shadow-convex-hover: 0.1rem 0.2rem 0.4rem #a5bac78c,
  -0.3rem -0.3rem 0.5rem #ffffff99;
$shadow-concave: inset 0.2rem 0.3rem 0.8rem #a5bac759,
  inset -0.2rem -0.4rem 0.8rem #ffffffcc;
$shadow-input-concave: inset 0.1rem 0.1rem 0.4rem #a5bac773,
  inset -0.2rem -0.2rem 0.3rem #ffffffcc;
$shadow-primary-concave: inset 0.3rem 0.3rem 0.6rem #52bdccb3;
$shadow-p-light-concave: inset 0.1rem 0.2rem 0.2rem #86e1dc40,
  inset -0.1rem -0.2rem 0.1rem #aaf0df40;
$shadow-danger-concave: inset 0.3rem 0.3rem 0.4rem #c0555b99;
$shadow-unselected-concave: inset 0.2rem 0.3rem 0.4rem #8e9da673,
  inset -0.2rem -0.2rem 0.3rem #ffffff59;
$shadow-tile-concave: inset 0.2rem 0.2rem 0.3rem #87bfbc80;
$shadow-icon: 0.1rem 0.3rem 0.3rem #43afb640, -0.1rem -0.1rem 0.2rem #ffffff33;
$shadow-drop: 0.2rem 0.2rem 0.3rem #a1a7aa8c;

$blur: blur(1rem);

$max-pc-item-width: 900px;

// padding&margin
$spacing-0: 0;
$spacing-1: 0.4rem;
$spacing-2: 0.8rem;
$spacing-3: 1.2rem;
$spacing-4: 1.6rem;
$spacing-5: 2rem;
$spacing-6: 2.4rem;
$spacing-7: 2.8rem;
$spacing-8: 3.2rem;
$spacing-9: 3.6rem;
$spacing-10: 4rem;
$spacing-11: 4.4rem;
$spacing-12: 4.8rem;
$spacing-13: 5.2rem;
$spacing-14: 5.6rem;
$spacing-15: 6rem;
$spacing-16: 6.4rem;

// font-size(アイコンフォントには使わなくて良い)
$font-minimum: 1rem;
$font-small: 1.2rem;
$font-medium: 1.4rem; //これがメイン
$font-large: 1.6rem;
$font-maximum: 1.8rem;

// for border-radius
$radius-0: 0;
$radius-1: 0.4rem;
$radius-2: 0.8rem;
$radius-3: 1.2rem;
$radius-4: 1.6rem;
$radius-button: 5rem; //側面が完全に丸いボタンに使う
$radius-input: 0.6rem; //formやinput要素に使う
$circle: 50% 50%;

// line-height
$single-line: 140%;
$multi-line: 160%;
$fit: 100%;

// transition
$transition-all: all 0.25s ease-in-out;
$transition-all-slow: all 0.25s ease-in-out;
$transition-transform: transform 0.25s ease-in-out;
$transition-box-shadow: box-shadow 0.18s ease;

// Media Queries
$pc-and-tab-height: 769px;
