@charset "utf-8";

@import "tailwindcss/base";

@import "variable", "mixin", "reset";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,600&display=swap&subset=japanese");

html {
  font-size: 62.5%; //1rem=10px
  font-family: "Noto Sans JP", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: $text-main;
  background: $base-liner;
}
@include tab-and-pc {
  html {
    font-size: 75%; //1rem=12px
  }
}
body {
  font-size: 1.4em;
}
.material-icons {
  font-family: Material Icons;
  @include iconlayout;
}
.preview {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-shrink: 1;
  &__content {
    margin: 2rem;
    &--flex {
      margin: 2rem;
      display: flex;
      flex-direction: row;
    }
  }
}
