@charset "utf-8";

@import "tailwindcss/base";

@import "variable", "mixin", "reset";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700&display=swap&subset=japanese");

html {
  font-size: 62.5%; //1rem=10px
  font-family: "Noto Sans JP", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: $text-main;
  @include tab-and-pc {
    font-size: 75%; //1rem=12px
  }
}
body {
  font-size: 1.4em;
}
.material-icons {
  font-family: Material Icons;
  @include iconlayout;
}
.preview {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-shrink: 1;
  &__content {
    margin: 2rem;
    &--flex {
      margin: 2rem;
      display: flex;
      flex-direction: row;
    }
  }
  &__scheduleEditer {
    padding-bottom: 40rem;
  }
}

// 下に広がるアニメーション
.spread-down {
  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateY(-1rem);
  }

  &-enter-to,
  &-leave-from {
    opacity: 1;
  }

  &-enter-active,
  &-leave-active {
    transition: $transition-all;
  }
}

// 下に広がるアニメーション
.spread-down {
  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateY(-1rem);
  }

  &-enter-to,
  &-leave-from {
    opacity: 1;
  }

  &-enter-active,
  &-leave-active {
    transition: $transition-all;
  }
}
