@charset "utf-8";

@import "tailwindcss/base";

@import "variable", "mixin", "reset", "transition";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700&display=swap&subset=japanese");

html {
  font-size: 62.5%; //1rem=10px
  font-family: "Noto Sans JP", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: $text-main;
  @include tab-and-pc {
    font-size: 75%; //1rem=12px
  }
}
body {
  font-size: $font-medium;
}
.material-icons {
  font-family: Material Icons;
}
.preview {
  padding: $spacing-10;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-shrink: 1;
  &__content {
    margin: $spacing-5;
    &--flex {
      margin: $spacing-5;
      display: flex;
      flex-direction: row;
    }
  }
  &__scheduleEditer {
    padding-bottom: 40rem;
  }
}
